{% extends "bootstrap/base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet">
<link rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<title>
    {% block title %}
    econuy | Estadísticas de la economía uruguaya para gente sin tiempo
    {% endblock %}
</title>
{% endblock %}

{% block body %}
<body style="font-family: 'Roboto', sans-serif; margin-left: 5%; margin-right: 5%; margin-top: 1%">
<a id="top"></a>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% block navbar %}
<div>
    <p><a href="{{ url_for('submit') }}">
        <img src="{{url_for('static', filename='logo.png')}}" width=250></a></p>
</div>
<p>
    <a href="{{ url_for('submit') }}" style='margin-right: 1%'>Inicio</a>
    <a href="{{ url_for('viz') }}" style='margin-left: 1%; margin-right: 1%'>Visualizador</a>
    <a href="{{ url_for('about') }}" style='margin-left: 1%; margin-right: 1%'>Sobre</a>
    <a href="https://twitter.com/econ_uy" style='margin-left: 1%; margin-right: 1%'>Novedades</a>
    <a href="https://github.com/rxavier/econuy" style='margin-left: 1%'>Github</a>

</p>
<hr>
{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block content %}
{% endblock %}

{% block footer %}
<footer>
    <hr>
    <p style="text-align:left;font-size:14px">
        Si usás datos de econuy, considerá citar la web
        (<a href="https://econ.uy">econ.uy</a>)

    </p>
    <p style="text-align:left;font-size:14px">Creado por
        <a href="https://twitter.com/_rxavier_">Rafael Xavier</a>, 2020
        <span style="float:right;font-size:14px">
            <a href="#top" style="text-align:right;font-size:14px">Subir</a>
    </span></p>
</footer>
{% endblock %}

</body>
{% endblock %}
