{% extends "base.html" %}

{% block content %}

    <h2>Elegir series</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.columns }}
            <a data-toggle="tooltip" data-placement="right"
               style="margin-left: 1.5%"
               title="Seleccionar varios usando cmd/ctrl.">
                <img src="static/info.png" width=22px></a>
        {% for error in form.columns.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}</p>

        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}