{% extends "base.html" %}


{% block content %}

<div class="container"><br>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
        <h2>{{ form.indicator.label }}</h2>
        {{ form.indicator }}
        <a href="#" data-toggle="tooltip" data-placement="right"
           style="margin-left: 20px"
           title="Entre paréntesis se detalla la fecha inicial y la frecuencia.">
            <img src="static/info.png" width=22px></a></br>
        {% for error in form.indicator.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}</p>
        <p>
            {{ form.start.label }}
            {{ form.start }}
            {{ form.end.label }}
            {{ form.end }}
            <a href="#" data-toggle="tooltip" data-placement="right"
               style="margin-left: 20px"
               title="Si no se eligen fechas se reportan
               todos los datos disponibles.">
                <img src="static/info.png" width=22px></a>
            </br>
            {% for error in form.indicator.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        </br>
        <h2>Transformaciones</h2>
        <p>
            {{ form.usd }}
            {{ form.usd.label }}
        </p>
        <p>
            {{ form.real }}
            {{ form.real.label }}</br>
        <p style="margin-left: 40px">
            {{ form.real_start.label }}
            {{ form.real_start }}
            {{ form.real_end.label }}
            {{ form.real_end }}
            <a href="#" data-toggle="tooltip" data-placement="right"
               style="margin-left: 20px"
               title="Es posible deflactar a) definiendo solo una fecha (la de inicio)
           para que los datos queden expresados a precios de ese mes,
           b) definiendo ambas para que los datos queden expresados a precios
           promedio de ese rango de meses, c) sin definir fechas en caso de que
           no sea necesario que los datos queden expresados a precios de un mes
           específico.">
                <img src="static/info.png" width=22px></a></br>
            {% for error in form.real_end.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{ form.gdp }}
            {{ form.gdp.label }}
            <a href="#" data-toggle="tooltip" data-placement="right"
               style="margin-left: 20px"
               title="En caso de querer calcular un flujo en porcentaje del PBI,
               es necesario acumular anualmente antes de aplicar esta
               transformación."> <img src="static/info.png" width=22px"></a>
        </p>
        <p>
            {{ form.freq }}
            {{ form.freq.label }}
            <a href="#" data-toggle="tooltip" data-placement="right"
               style="margin-left: 20px"
               title="Esta transformación toma en cuenta si los datos son flujo
                      o stock."> <img src="static/info.png"
                                      width=22px"></a></br>
        <p style="margin-left: 40px">
            {{ form.frequency.label }}
            {{ form.frequency }}
            {{ form.operation_res.label }}
            {{ form.operation_res }}
            <a href="#" data-toggle="tooltip" data-placement="right"
               style="margin-left: 20px"
               title="Estas dos selecciones deben ser consistentes con la frecuencia
                  de los datos base. Es decir, si el cuadro seleccionado es de
                  frecuencia trimestral y se quiere transformar a frecuencia
                  mensual, el único método correspondiente es 'Aumentar
                  frecuencia', que interpolará linealmente los datos faltantes.
                  Si se quiere transformar a frecuencia anual se puede elegir
                  cualquiera de los métodos de 'Reducir frecuencia'">
                <img src="static/info.png" width=22px></a>
        </p>
        </p>
        <p>
            {{ form.cum }}
            {{ form.cum.label }}
            <a href="#" data-toggle="tooltip" data-placement="right"
               style="margin-left: 20px"
               title="Esta transformación mantiene la frecuencia, pero cada
                      período pasa a ser la suma o promedio de ese período y
                      de los x períodos anteriores">
                <img src="static/info.png" width=22px></a></br>
        <p style="margin-left: 40px">
            {{ form.periods.label }}
            {{ form.periods }}
            {{ form.operation.label }}
            {{ form.operation }}</br>
            {% for error in form.periods.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{ form.base_index }}
            {{ form.base_index.label }}</br>
        <p style="margin-left: 40px">
            {{ form.base_index_start.label }}
            {{ form.base_index_start }}
            {{ form.base_index_end.label }}
            {{ form.base_index_end }}
            {{ form.base_index_base.label }}
            {{ form.base_index_base }}
            <a href="#" data-toggle="tooltip" data-placement="right"
               style="margin-left: 20px" data-html="true"
               title="La fecha final es opcional, en cuyo caso el índice será
                  <i>valor de fecha inicial=valor base</i>. Si se define fecha
                  final, el índice será <i>promedio de valores entre fecha
                  inicial y fecha final=valor base</i>.">
                <img src="static/info.png" width=22px></a></br>
            {% for error in form.base_index_start.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.base_index_base.errors %}
            <span style="color: red; margin-left: 400px">[{{ error }}]</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{ form.seas }}
            {{ form.seas.label }}
            <a href="#" data-toggle="tooltip" data-placement="right"
               style="margin-left: 20px"
               title="Esta transformación puede demorar dependiendo de la
                      cantidad y características de las series del cuadro
                      seleccionado.">
                <img src="static/info.png" width=22px></a></br>
        <p style="margin-left: 40px">
            {{ form.seas_type.label }}
            {{ form.seas_type }}
        </p>
        </p></br>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
