{% extends "base.html" %}


{% block content %}


<h1>Consulta de datos</h1></br>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
        <h2>{{ form.indicator.label }}</h2>
        {{ form.indicator }}
        <a data-toggle="tooltip" data-placement="right"
           style="margin-left: 1.5%"
           title="Entre paréntesis se detalla la fecha inicial y la frecuencia.">
            <img src="static/info.png" width=22px></a></br>
        {% for error in form.indicator.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}</p>
        <p>
            {{ form.start.label }}
            {{ form.start }}
            {{ form.end.label }}
            {{ form.end }}
            <a data-toggle="tooltip" data-placement="right"
               style="margin-left: 1.5%"
               title="Si no se eligen fechas se reportan
               todos los datos disponibles.">
                <img src="static/info.png" width=22px></a>
            </br>
            {% for error in form.start.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.end.errors %}
            <span style="color: red; margin-left: 18%">[{{ error }}]</span>
            {% endfor %}

        </p>
        </br>
        <h2>Transformaciones</h2>
        <p>
            {{ form.usd }}
            {{ form.usd.label }}
        </p>
        <p>
            {{ form.real }}
            {{ form.real.label }}</br>
        <p style="margin-left: 2%">
            {{ form.real_start.label }}
            {{ form.real_start }}
            {{ form.real_end.label }}
            {{ form.real_end }}
            <a data-toggle="tooltip" data-placement="right"
               style="margin-left: 1.5%"
               title="Es posible deflactar a) definiendo solo la fecha de
               inicio para que los datos queden expresados a precios de ese mes,
           b) definiendo ambas para que los datos queden expresados a precios
           promedio de ese rango de meses, c) sin definir fechas.">
                <img src="static/info.png" width=22px></a></br>
            {% for error in form.real_end.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{ form.gdp }}
            {{ form.gdp.label }}
            <a data-toggle="tooltip" data-placement="right"
               style="margin-left: 1.5%"
               title="En caso de querer calcular un flujo en porcentaje del PBI,
               acumular anualmente antes."> <img src="static/info.png" width=22px"></a>
        </p>
        <p>
            {{ form.freq }}
            {{ form.freq.label }}</br>
        <p style="margin-left: 2%">
            {{ form.frequency.label }}
            {{ form.frequency }}
            {{ form.operation_res.label }}
            {{ form.operation_res }}
            <a data-toggle="tooltip" data-placement="right"
               style="margin-left: 1.5%"
               title="Estas dos selecciones deben ser consistentes con la frecuencia
                  de los datos base. Por ejemplo, si el cuadro seleccionado es de
                  frecuencia trimestral y se quiere transformar a frecuencia
                  mensual, el único método correspondiente es 'Aumentar
                  frecuencia', que interpolará linealmente los datos faltantes.">
                <img src="static/info.png" width=22px></a>
        </p>
        </p>
        <p>
            {{ form.cum }}
            {{ form.cum.label }}</br>
        <p style="margin-left: 2%">
            {{ form.periods.label }}
            {{ form.periods }}
            {{ form.operation.label }}
            {{ form.operation }}</br>
            {% for error in form.periods.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{ form.base_index }}
            {{ form.base_index.label }}</br>
        <p style="margin-left: 2%">
            {{ form.base_index_start.label }}
            {{ form.base_index_start }}
            {{ form.base_index_end.label }}
            {{ form.base_index_end }}
            {{ form.base_index_base.label }}
            {{ form.base_index_base }}
            <a data-toggle="tooltip" data-placement="right"
               style="margin-left: 1.5%" data-html="true"
               title="La fecha final es opcional, en cuyo caso el índice será
                  <i>valor de fecha inicial=valor base</i>. Si se define fecha
                  final, el índice será <i>promedio de valores entre fecha
                  inicial y fecha final=valor base</i>.">
                <img src="static/info.png" width=22px></a></br>
            {% for error in form.base_index_start.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.base_index_base.errors %}
            <span style="color: red; margin-left: 20%">[{{ error }}]</span>
            {% endfor %}
        </p>
        </p>
        <p>
            {{ form.chg_diff }}
            {{ form.chg_diff.label }}</br>
        <p style="margin-left: 2%">
            {{ form.chg_diff_type.label }}
            {{ form.chg_diff_type }}
            {{ form.chg_diff_period.label }}
            {{ form.chg_diff_period }}
        </p>
        </p>
        <p>
            {{ form.seas }}
            {{ form.seas.label }}</br>
        <p style="margin-left: 2%">
            {{ form.seas_method.label }}
            {{ form.seas_method }}
            {{ form.seas_type.label }}
            {{ form.seas_type }}
        <a data-toggle="tooltip" data-placement="right"
           style="margin-left: 1.5%" data-html="true"
           title="El procesamiento con el método X13 ARIMA puede demorar
            dependiendo del tipo y largo de series en la tabla seleccionada.
            En algunos casos la consulta puede ser terminada.">
            <img src="static/info.png" width=22px></a>
        </p>
        </p></br>
        <p>
            {{ form.some_cols }}
            {{ form.some_cols.label }}</br>
            {{ form.only_dl }}
            {{ form.only_dl.label }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}
