{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
table {
  border: 1px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  table-layout: fixed;
}
table td, table th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
  font-size: 13px;
}
table tbody td {
  font-size: 13px;
  color: #626262;
}
table tbody tr:nth-child(even) {
  background: #eceff1;
}
table tbody tr:hover {
  background-color: #babdbe;
}
table thead {
  font-size: 13px;
  border-bottom: 5px solid #FFFFFF;
}
table thead th {
  color: #ECECEC;
  font-size: 13px;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table thead th:first-child {
  border-left: none;
}
thead tr th:first-child,
tbody tr td:first-child {
  width: 8em;
  min-width: 8em;
  max-width: 8em;
  word-break: break-all;
}
thead tr:first-child th { position: sticky; top: 0; background: #424242;}
thead tr:not(:first-child) th { background: #424242;}
</style>
{% endblock %}

{% block content %}
<h3>{{ indicator_label }}</h3></br>
{% if transformations|length > 0 %}
<h4>Transformaciones aplicadas</h4>
<ol>
    {% for i in transformations %}
    <li>{{ i }}</li>
    {% endfor %}
</ol>
{% endif %}

<p align="left"><a href="{{ url_for('export') }}">
    <img src="static/csv.png" width=30px
         style="margin-right: 0.5%; vertical-align: middle">
    Descargar CSV</a></p>

<div style="overflow:auto;height:600px">
{% for table in tables %}
{{ table|safe }}
{% endfor %}
</div>
<br>
<p><b>Fuentes</b>
    <ul>
    <li>Links directos:
    {% if sources[0]|length == 0 %}
    no disponible.
    {% else %}
    {{ sources[0]|safe }}.
        {% endif %}</li>
<li>Links indirectos:
    {% if sources[1]|length == 0 %}
    no disponible.
    {% else %}
    {{ sources[1]|safe }}.
    {% endif %}</li>
<li>Proveedores: {% if sources[2]|length == 0 %}
    no disponible.
    {% else %}
    {{ sources[2]|safe }}.
    {% endif %}</li>
</ul></p>
{% endblock %}