pandas
sqlalchemy
psycopg2
flask
flask-sqlalchemy
flask-bootstrap
flask-wtf
python-dotenv
gunicorn
xlsxwriter
dash
dash-bootstrap-components
-e git+https://github.com/rxavier/econuy.git@5a232a1e0d8a82b407ee8cda53b27fdc88992613#egg=econuy
dash-daq
orjson
Pillow
alphacast