pandas
sqlalchemy
psycopg2
flask
flask-sqlalchemy
flask-bootstrap
flask-wtf
python-dotenv
gunicorn
xlsxwriter
dash
dash-bootstrap-components
-e git+https://github.com/rxavier/econuy.git@936042c1b127a78191ad6ea4165811fe25e95333#egg=econuy
dash-daq
orjson
Pillow
alphacast