pandas
sqlalchemy
psycopg2
flask
flask-sqlalchemy
flask-bootstrap
flask-wtf
python-dotenv
gunicorn
xlsxwriter
dash
dash-bootstrap-components
-e git+https://github.com/rxavier/econuy.git@cb65961c65aca39b7f15a0f0a15896d066478bbf#egg=econuy
dash-daq
orjson
Pillow
alphacast