{% extends "base.html" %}

{% block content %}
    <h1 style="font-weight: bolder; font-size: 47px; letter-spacing: 1px">
        Sobre econuy
    </h1>
<p><b>econuy</b> facilita el acceso a estadísticas de la economía uruguaya. Apunta a:</p>
<ul>
    <li>Reunir datos de varios sitios web en el mismo lugar (INE, BCU, MEF, FMI, etc.).</li>
    <li>Presentar planillas limpias, sin notas, sin títulos, en formato
        <a href="https://es.wikipedia.org/wiki/Tidy_data">tidy data</a>.</li>
    <li>Incluir metadatos claros para cada indicador.</li>
    <li>Permitir el cálculo de transformaciones sobre los datos (por ejemplo, convertir a dólares).
    </li>
    <li>Visualizar los datos.</li>
    <li>Permitir descargar los datos.</li>
</ul>
<p>Dos veces al día se actualizan todos los datos disponibles, por lo que el
    tiempo entre que nueva información
    se hace pública y están disponibles en <b>econuy</b> debería ser bastante
    corto.</p>
<p>
    Los datos son descargados automáticamente de sitios públicos, lo que significa que
    puede haber demoras en las actualizaciones cuando a) la URL desde la
    que se descargan los datos cambia; b) la URL no está disponible;
    c) el archivo de origen cambió de manera no esperada.

    En ese caso, se puede crear un issue en
    <a href="https://github.com/rxavier/econuy/issues">Github</a> para
    alertarme del problema.</p>
<p>
    En paralelo a esta web, <b>econuy</b> puede ser usado como un paquete de Python.
    Las instrucciones para esto se encuentran en el <a
        href="https://github.com/rxavier/econuy">README.</a>
</p>
{% endblock %}