{% extends "bootstrap/base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='custom-icon.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<title>
    {% block title %}
    econuy | Economía uruguaya para gente sin tiempo
    {% endblock %}
</title>

<meta name="description" content="econuy permite la visualización y descarga de estadísticas de la economía uruguaya.">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta property="og:type" content="website">
<meta property="og:url" content="https://econ.uy/">
<meta property="og:title" content="econuy | Economía uruguaya para gente sin tiempo">
<meta property="og:image" content="{{ url_for('static', filename='cards.jpg') }}">
<meta property="og:description"
    content="econuy permite la visualización y descarga de estadísticas de la economía uruguaya.">
<meta property="og:site_name" content="econuy">
<meta property="og:locale" content="es_US">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@econ_uy">
<meta name="twitter:creator" content="@_rxavier_">
<meta name="twitter:url" content="https://econ.uy">
<meta name="twitter:title" content="econuy | Economía uruguaya para gente sin tiempo">
<meta name="twitter:description"
    content="econuy permite la visualización y descarga de estadísticas de la economía uruguaya.">
<meta name="twitter:image" content="{{ url_for('static', filename='cards.jpg') }}">

<link rel="dns-prefetch" href="https://twitter.com/econ_uy">
<link rel="dns-prefetch" href="https://github.com/rxavier/econuy">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CYNBM12GS9"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CYNBM12GS9');
</script>
{% endblock %}

{% block body %}

<body style="margin-top: 1%;margin-left:1%;margin-right:1%;margin-bottom:1%">
    <a id="top"></a>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    {% block navbar %}
    <div class="container">
        <div class="row mb-2">
            <div class="col">
                <a href="{{ url_for('landing') }}">
                    <img src="{{url_for('static', filename='logo.png')}}" width=20% class="mx-auto d-block"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 d-flex justify-content-center"> <a href="{{ url_for('landing') }}">Inicio</a></div>
            <div class="col-3 d-flex justify-content-center"> <a href="{{ url_for('about') }}">Sobre</a></div>
            <div class="col-3 d-flex justify-content-center"> <a href="https://twitter.com/econ_uy">Novedades</a></div>
            <div class="col-3 d-flex justify-content-center"> <a href="https://github.com/rxavier/econuy">Github</a>
            </div>
        </div>
    </div>

    <hr>
    {% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer>
        <hr>
        <p style="text-align:left;font-size:14px">
            Si usás datos de econuy, considerá citar la web
            (<a href="https://econ.uy">econ.uy</a>)

        </p>
        <p style="text-align:left;font-size:14px">
            <a href="https://twitter.com/_rxavier_">Rafael Xavier</a>, 2022
        <p style="text-align:left;font-size:14px">Foto de inicio por <a
                href="https://www.flickr.com/photos/jikatu/49888705496/in/photolist-2j1uE3L-2iZNyNo-2kSDdEk-2kSAjcp-2iJD9kE-2kSCHJ6-2m9QLX1-2inWWSt-2j9F9Rq-2iGy6r5-2iGsgHt-2jJGHzQ-2ir3Aej-2iqYSkb-2m9mpjB-2kSBXNB-2kSHdFU-2iUdAai-2kSHfgs-2kSAj5A-2iZwwm2-2iGAPDv-2knSqgL-2kSHdjS-2iZzdxZ-2kSDdpR-2kSCJdn-2kSBWmt-2kSHdJK-2kSCJnf-2kqZZeN-2kSHds7-2kSCJiC-2kSDd3i-2iGy4FB-2kSCHYj-2kqZZ6m-2iM2kZF-2iZAPVS-2kqFtLX-2iZwtvH-2iSbDbX-2iUaLgJ-2kSrmT3-2kSqT5Q-2kSvkdf-2iZzbXe-2iZzbHB-2iZAM3h-2k7EPXH">Jimmy
                Baikovicius</a>, CC BY-SA 2.0
        </p>
        <span style="float:right;font-size:14px">
            <a href="#top" style="text-align:right;font-size:14px">Subir</a>
        </span>
        </p>

    </footer>
    {% endblock %}

</body>
{% endblock %}