{% extends "base.html" %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div style="width: 100%; min-height: 1000px;overflow-x:hidden;overflow-y:hidden;display: flex;align-items: center;justify-content: center;" >
                    <iframe
                            noresize='noresize'
                            style='position: absolute; background: transparent; width: 90%; height:100%;overflow-x:hidden;overflow-y:hidden;'
                            src={{ dash_url }}
                            frameborder="0">
                    </iframe>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}